<!-- scheduler.component.html -->

<!-- View Selector at the top -->
<app-view-selector (viewChange)="onViewChange($event)"></app-view-selector>

<div *ngIf="currentView === 'week'">this is week view</div>
<!-- Week View -->
<div *ngIf="currentView === 'week'" class="calenderbackground">
  <div *ngFor="let day of getWeekDates()" class="seprt-container">
    <h3 class="day-label">{{ day | date : "EE, MMM d " }}</h3>
    <div>
      <div *ngFor="let event of getEventsForDay(day)">
        <app-task-card [task]="event"></app-task-card>
      </div>
    </div>
  </div>
</div>

<!-- Day View -->
<div *ngIf="currentView === 'day'">
  <div *ngFor="let hour of getDayHours()" class="seprt-container">
    <div class="hour-label">{{ hour }}:00</div>
    <div *ngFor="let event of getEventsForHour(hour)">
      <app-task-card [task]="event"></app-task-card>
    </div>
  </div>
  <div class="current-time-line" [ngStyle]="{ top: currentTimePosition }"></div>
</div>

<!-- Month View -->
<div *ngIf="currentView === 'month'" class="month-calendar">
  <div *ngFor="let day of getDaysInMonth()" class="seprt-container">
    <div class="calendar-day">
      <div>{{ day | date : "d" }}</div>
      <div *ngFor="let event of getEventsForDay(day)">
        <div
          class="event-dot"
          [ngStyle]="{ backgroundColor: getEventColor(event) }"
        ></div>
      </div>
    </div>
  </div>
</div>
